<h4>Add a new task</h4>

<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :complete %>
  <%= f.text_field :complete %>

  <%= f.label :importance %>
  <%= f.text_field :importance %>

  <%= f.submit %>
<% end %>
